<h1 class="container">Welcome to Idea Box</h1>
<h3 class="container">So many cash ideas!!!</h3>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <hr>
    <div class="form-group">
      <h5>Title:</h5>
      <input class="form-control" type="text" id="new-idea-title">
      <h5>Body:</h5>
      <input class="form-control" type="text" id="new-idea-body">
    </div>
    <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Save">
  </div>
  <div class="col-sm-2"></div>
</div>
</div>
<hr class="col-sm-8 col-sm-offset-2">

<div class="col-sm-4 col-sm-offset-2">
  <h5>Find Your Cash Idea:</h5>
  <input type="text" class="form-control" id="search-bar">
</div>
<hr class="col-sm-8 col-sm-offset-2">

<div class="container">
  <table class="table table-striped idea-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Quality</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
  </table>
</div>
